body{
  background-color: #FFFFFF;
  font-family: 'Public Sans';
}
p{
  font-weight: 400;
  display: flex;
  margin: 0;
}
.container-fluid{
  --bs-gutter-x:0;
}
.heading-tag{
  font-weight: 500;
  margin-Top:20px;
  margin-bottom: 20px;
}
.content-tag{
  font-weight: 200;
  font-size:20px;
  margin-bottom: 10px;
}
.row{
  --bs-gutter-x:0;
}
.img-container-homepage{
  height: 360px;
  width: 360px;
  overflow: hidden;
}
.img-hover{
	transform: scale(1);
	transition: .3s ease-in-out;

}
.img-hover:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);

}

.circle{
  height: 46px;
  width: 46px;
  border-radius: 36px;
  opacity: 0.4;
  z-index: 1;
  background-color: rgba(0,0,0, 0.4);
}
.header{
  /* position: fixed; */
   top: 0; left: 0; width: 100%; z-index: 999; background-Color: #fff; font-Family: Public Sans;
   font-weight: 800;
   transition: background-color 0.3s ease, padding 0.3s ease;
   position: sticky ;
   display:  block;
   margin-bottom: 100 ;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  rgb(177,155,101);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation-black:after {
  content: '';
  position: absolute;
  width: 20%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-black:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.img-content{
  position: relative;
  top: -360px;
  text-align: center;
  width: fit-content;
  padding: 20px;

  color: black;

}
.title{
  padding-right: 20px;
}


.card-black{
  background-color: #1B1B1B;
  margin: 5px;
}


.product-title{
  color: rgb(177,155,101);
  font-family: "Blacker ";
  margin: 15px;
}
.card-text{
  font-family: Public Sans;
 font-weight: 500;
  margin: 10px;
}
.product-price{
  font-size: 36px;
  font-family: Blacker ;
  margin-top: 10px;

}
.form{
  background-Image:'https://i.pinimg.com/564x/9b/6b/b0/9b6bb08a62f03b670801efae75d4234b.jpg';
  background-size :100% 420;

}
input:focus {
  outline:none;
}

.icon-link{
  align-items: normal;
}
.collapse-card{
  border-right: 0;
  border-left: 0 ;
  border-bottom: 0;
}
.card-header{
  background-color: #fff;
}
i{
  align-items: center;
  display: flex ;
}
.bi-header{
  margin-right: 15px;
  font-size: 22px;
}
.grid-container{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 30% 30%;
  padding-left: 10%;
  padding-right:10%;
  row-gap: 60px;

}
.grid-item img{
  width: 320px;
  height: 320px;
}
.img-container-product{
  width: 320px;
  height: 320px;
  overflow: hidden;
}